/*
#ffcc00
#2F149E
#F8E3BC
#CE284F
#640963
#C2D53C*/

body {
  min-height: 500px;
  background-color:#ffcc00;
    font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  width: 75%;
  float:right;
  margin: 10px 0;
}

nav, ul {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
  width: 75%;
  float: right;
}

li a {
  color:inherit;
  text-decoration: none;
  background-color: inherit;
  height: 100%;
  width: 100%;
  display: block;
 }

 li a:hover {
   box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
 }

.donut{
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius:50%;
  background-color:#F8E3BC;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../textures/donut3.jpg);
}

.donut:hover {
  -webkit-animation: SPIN 5s infinite; /* Safari 4+ */
  -moz-animation:    SPIN 5s infinite; /* Fx 5+ */
  -o-animation:      SPIN 5s infinite; /* Opera 12+ */
  animation:         SPIN 5s infinite; /* IE 10+, Fx 29+ */
}

.donut-hole {
  background-color: #ffcc00;
  height: 150px;
  width: 150px;
  z-index: 1;
  border-radius: 50%;
  margin: 0 auto;
}

@-webkit-keyframes SPIN {
  0%   { transform:rotateZ(0deg); }
  100% { transform:rotateZ(90deg); }
}
@-moz-keyframes SPIN {
  0%   { otransform:rotateZ(90deg); }
  100% { transform:rotateZ(180deg); }
}
@-o-keyframes SPIN {
  0%   { transform:rotateZ(180deg); }
  100% { transform:rotateZ(270deg); }
}
@keyframes SPIN {
  0%   { transform:rotateZ(270deg); }
  100% { transform:rotateZ(360deg); }
}

aside {
  width: 25%;
  float: left;
  margin: 0 0;
}

aside li {
  list-style-type: none;
  display: block;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 32px;
  line-height: 200px;
  vertical-align: middle;
}

li:nth-of-type(1){
  background-color: #2F149E;
}

li:nth-of-type(2){
  background-color: #C2D53C;
}

li:nth-of-type(3){
  background-color: #CE284F;
}

li:nth-of-type(4){
  background-color: #F8E3BC;
}

li:nth-of-type(5){
  background-color: #640963;
}

.asterisk {
  font-size: 18px;
}

.green {
  color:#C2D53C;
}

.purple {
  color:#640963;
}

.blue {
  color:#2F149E;
}

main p {
  width: 50%;
  margin: 0 auto;
}

button {
 width: 250px;
  margin: 20px 10px 20px 10px;
  background-color:#C2D53C;
  border:none;
  border-radius: 5px;
  font-size: 25px;
  height: 200px;
  padding: 0;
}

button:hover {
   box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
